@tailwind base;
@tailwind components;
@tailwind utilities;
/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 2px; /* Makes the scrollbar a thin stick */
}

::-webkit-scrollbar-track {
  background: transparent; /* Optional: Makes the track transparent */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #888 transparent; /* Thumb color and track color */
}

.container .react-colorful {
  width: 100%;
}
